// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define BASE 0
#define LAYER_SHIFT 1
#define SYM_NAV 2
#define SHIFT_SYM_NAV 3

/ {
    behaviors {
        ht: hold_tap {
            label = "hold_tap";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <160>;
            quick-tap-ms = <150>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <SYM_NAV LAYER_SHIFT>;
            then-layer = <SHIFT_SYM_NAV>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        base_layer {
            bindings = <
        //╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
        //│     tab     │      w      │      e      │      r      │      t      │   │      y      │      u      │      i      │      o      │  backspace  │
        //│             │             │             │             │             │   │             │             │             │             │             │
          &kp TAB       &kp W         &kp E         &kp R         &kp T             &kp Y         &kp U         &kp I         &kp O         &kp BSPC
        //├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        //│      a      │      s      │      d      │      f      │      g      │   │      h      │      j      │     k       │      l      │      p      │
        //│             │             │             │             │             │   │             │             │             │             │             │
          &kp A         &kp S         &kp D         &kp F         &kp G             &kp H         &kp J         &kp K         &kp L         &kp P
        //├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        //│      z      │      x      │      c      │      v      │      b      │   │      n      │      m      │      ,      │      .      │    enter    │
        //│   control   │     alt     │     gui     │             │             │   │             │             │     gui     │     alt     │    shift    │
           &mt LCTRL Z   &mt LALT X    &mt LGUI C    &kp V         &kp B             &kp N         &kp M      &mt LGUI COMMA  &mt LALT DOT  &mt LSHFT RET
        //╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
        //                                          │   layer     │   space     │   │  control    │   shift*    │
        //                                          │             │             │   │             │             │
                                                    &mo SYM_NAV   &kp SPACE         &kp LCTRL     &mo LAYER_SHIFT        
        //                                          ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
            >;
        };

        shift_default_layer {
            bindings = <
        //╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
        //│     tab     │      W      │      E      │      R      │      T      │   │      T      │      U      │      I      │      O      │  backspace  │
        //│             │             │             │             │             │   │             │             │             │             │             │
          &kp LS(TAB)   &kp LS(W)     &kp LS(E)     &kp LS(R)     &kp LS(T)         &kp LS(Y)     &kp LS(U)     &kp LS(I)     &kp LS(O)     &kp BSPC
        //├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        //│      A      │      S      │      D      │      F      │      G      │   │      H      │      J      │      K      │      L      │      p      │
        //│             │             │             │             │             │   │             │             │             │             │             │
          &kp LS(A)     &kp LS(S)     &kp LS(D)     &kp LS(F)     &kp LS(G)         &kp LS(H)     &kp LS(J)     &kp LS(K)     &kp LS(L)     &kp LS(P)
        //├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        //│      Z      │      X      │      C      │      V      │      B      │   │      N      │      M      │      <      │      >      │    ENTER    │
        //│   control   │             │             │             │             │   │             │             │             │             │             │
          &kp LS(Z)     &kp LS(X)     &kp LS(C)     &kp LS(V)     &kp LS(B)         &kp LS(N)     &kp LS(M)     &kp LS(COMMA) &kp LS(DOT)   &kp LS(RET) 
        //╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
        //                                          │   layer     │   space     │   │  control    │   shift*    │
        //                                          │             │             │   │             │             │
                                                    &mo SYM_NAV   &kp SPACE         &kp LCTRL     &mo LAYER_SHIFT        
        //                                          ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
            >;
        };


        sym_nav_layer {
            bindings = <
        //╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
        //│     tab     │      w      │      e      │      r      │      t      │   │      y      │      u      │      i      │      o      │  backspace  │
        //│             │             │             │             │             │   │             │             │             │             │             │
          &kp TAB       &kp W         &kp E         &kp R         &kp T             &kp Y         &kp U         &kp I         &kp O         &kp BSPC
        //├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        //│      a      │      s      │      d      │      f      │      g      │   │      h      │      j      │     k       │       l     │      p      │
        //│             │             │             │             │             │   │             │             │             │             │             │
          &kp A         &kp S         &kp D         &kp F         &kp G             &kp H         &kp J         &kp K         &kp L         &kp P
        //├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        //│      z      │      x      │      c      │      v      │      b      │   │      n      │      m      │      ,      │      .      │    enter    │
        //│   control   │     alt     │     gui     │             │             │   │             │             │     gui     │     alt     │    shift    │
           &mt LCTRL Z   &mt LALT X    &mt LGUI C    &kp V         &kp B             &kp N         &kp M         &kp COMMA     &mt LALT DOT  &mt LSHFT RET
        //╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
        //                                          │   layer     │   space     │   │  control    │   shift*    │
        //                                          │             │             │   │             │             │
                                                    &kp A         &kp SPACE         &kp LCTRL     &kp B         
        //                                          ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
            >;
        };

        
        tri_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│ RESET    │          │          │          │PROFILE 0 │   │          │          │          │          │  RESET   │
           &sys_reset  &trans     &trans     &trans    &bt BT_SEL 0    &trans     &trans     &trans     &trans    &sys_reset
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│BOOTLOADER│          │          │          │PROFILE 1 │   │          │          │          │          │BOOTLOADER│
          &bootloader  &trans     &trans     &trans    &bt BT_SEL 1    &trans     &trans     &trans     &trans    &bootloader
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │ CLEAR BT │PROFILE 2 │   │          │          │          │          │          │
            &trans     &trans     &trans    &bt BT_CLR &bt BT_SEL 2    &trans     &trans     &trans     &trans     &trans
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans         &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };
    };
};
