// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define BASE 0
#define LAYER_SHIFT 1
#define SYM_NAV 2
#define SHIFT_SYM_NAV 3
#define FXN 4
#define MACRO 5
#define GAME 6

// #define SYM__BSPC lt_h SYM_NAV BSPC

/ {
    behaviors {
        ht: hold_tap {
            label = "hold_tap";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <160>;
            quick-tap-ms = <160>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };
        // lt: layer_tap {
        //   tapping-tem-ms = <160>;
        // };

        lt_h: layer_tap_h {
          label = "layer_tap_h";
          compatible = "zmk,behavior-hold-tap";
          #binding-cells = <2>;
          flavor = "hold-preferred";
          tapping-term-ms = <160>;
          bindings = <&mo>, <&kp>; 
        };
    };
    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <SYM_NAV LAYER_SHIFT>;
            then-layer = <SHIFT_SYM_NAV>;
        };
    };
    macros {
      arrow: arrow{
        label = "->";
        compatible = "zmk,behavior-macro";
        #binding-cells = <0>;
        bindings = <&macro_tap &kp MINUS &kp LS(DOT)>;
      };
    };

    keymap {
        compatible = "zmk,keymap";
        base {
            bindings = <
        //╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
        //│      q      │      w      │      e      │      r      │      t      │   │      y      │      u      │      i      │      o      │  backspace  │
        //│             │             │             │             │             │   │             │             │             │             │             │
          &kp Q         &kp W         &kp E         &kp R         &kp T             &kp Y         &kp U         &kp I         &kp O         &kp BSPC
        //├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        //│      a      │      s      │      d      │      f      │      g      │   │      h      │      j      │     k       │      l      │      p      │
        //│             │             │             │             │             │   │             │             │             │             │             │
          &kp A         &kp S         &kp D         &kp F         &kp G             &kp H         &kp J         &kp K         &kp L         &kp P
        //├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        //│      z      │      x      │      c      │      v      │      b      │   │      n      │      m      │      ,      │      .      │    enter    │
        //│   control   │     alt     │     gui     │             │             │   │             │             │     gui     │     alt     │    shift    │
          &ht LCTRL Z   &ht LALT X    &ht LGUI C    &kp V         &kp B             &kp N         &kp M        &ht LGUI COMMA &ht LALT DOT  &ht LSHFT RET
        //╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
        //                                          │   layer     │   space     │   │  control    │   shift*    │
        //                                          │             │             │   │             │             │
                                               &lt_h SYM_NAV TAB &kp SPACE         &kp LCTRL     &mo LAYER_SHIFT        
        //                                          ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
            >;
        };

        sh_base {
            bindings = <
        //╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
        //│     %       │      W      │      E      │      R      │      T      │   │      T      │      U      │      I      │      O      │  backspace  │
        //│             │             │             │             │             │   │             │             │             │             │             │
          &kp LS(Q)   &kp LS(W)     &kp LS(E)     &kp LS(R)     &kp LS(T)         &kp LS(Y)     &kp LS(U)     &kp LS(I)     &kp LS(O)     &kp BSPC
        //├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        //│      A      │      S      │      D      │      F      │      G      │   │      H      │      J      │      K      │      L      │      p      │
        //│             │             │             │             │             │   │             │             │             │             │             │
          &kp LS(A)     &kp LS(S)     &kp LS(D)     &kp LS(F)     &kp LS(G)         &kp LS(H)     &kp LS(J)     &kp LS(K)     &kp LS(L)     &kp LS(P)
        //├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        //│      Z      │      X      │      C      │      V      │      B      │   │      N      │      M      │      <      │      >      │    ENTER    │
        //│   control   │             │             │             │             │   │             │             │             │             │             │
          &kp LS(Z)     &kp LS(X)     &kp LS(C)     &kp LS(V)     &kp LS(B)         &kp LS(N)     &kp LS(M)     &kp LS(COMMA) &kp LS(DOT)   &kp LS(RET) 
        //╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
        //                                          │   layer     │   space     │   │  control    │   shift*    │
        //                                          │             │             │   │             │             │
                                                    &mo SYM_NAV   &kp SPACE         &kp LCTRL     &mo LAYER_SHIFT        
        //                                          ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
            >;
        };

        sym {
            bindings = <
        //╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
        //│    macro    │    shift    │      .      │      ,      │     esc     │   │   delete    │      `      │      up     │      '      │  backspace  │
        //│             │             │    control  │     alt     │     gui     │   │             │             │             │             │             │
          &mo MACRO     &kp LSHFT     &ht LCTRL DOT &ht LALT COMMA &ht LGUI ESC     &kp DEL       &kp GRAVE     &kp UP        &kp SQT       &kp BSPC
        //├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        //│      1      │      2      │      3      │      4      │      5      │   │      \      │    left     │     down    │    right    │      ;      │
        //│             │             │             │             │             │   │             │             │             │             │     fxn     │
          &kp N1         &kp N2       &kp N3        &kp N4        &kp N5            &kp BSLH      &kp LEFT      &kp DOWN      &kp RIGHT     &lt FXN SEMI
        //├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        //│      6      │      7      │      8      │      9      │      0      │   │      _      │      /      │      (      │      )      │    enter    │
        //│             │             │             │             │             │   │             │             │             │             │    shift    │
          &kp N6        &kp N7        &kp N8        &kp N9        &kp N0            &kp UNDER     &kp FSLH      &kp LPAR      &kp RPAR      &ht LSHFT RET
        //╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
        //                                          │   layer     │   space     │   │  control    │   shift*    │
        //                                          │             │             │   │             │             │
                                                    &mo SYM_NAV   &kp SPACE         &kp LCTRL     &mo LAYER_SHIFT        
        //                                          ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
            >;
        };

        sh_sym {
            bindings = <
        //╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
        //│             │      %      │      ^      │      &      │     esc     │   │   delete    │      ~      │   page up   │      "      │  backspace  │
        //│             │             │             │             │             │   │             │             │             │             │             │
          &none         &kp PERCENT   &kp CARET     &kp AMPS      &kp ESC           &kp DEL      &kp TILDE      &kp PGUP       &kp DQT      &kp BSPC
        //├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        //│      /      │      *      │      -      │      +      │      =      │   │      |      │    home     │  page down  │    end      │      :      │
        //│             │             │             │             │             │   │             │             │             │             │             │
          &kp FSLH      &kp STAR      &kp MINUS      &kp PLUS     &kp EQUAL          &kp PIPE     &kp HOME      &kp PGDN      &kp END       &kp COLON     
        //├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        //│      !      │      @      │      #      │      $      │      _      │   │      [      │      ]      │      {      │      }      │       ?     │
        //│             │             │             │             │             │   │             │             │             │             │             │
          &kp EXCL      &kp AT        &kp HASH      &kp DLLR      &kp UNDER         &kp LBKT      &kp RBKT      &kp LBRC      &kp RBRC      &kp QMARK
        //╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
        //                                          │   layer     │   space     │   │  control    │   shift*    │
        //                                          │             │             │   │             │             │
                                                    &mo SYM_NAV   &kp SPACE         &kp LCTRL     &mo LAYER_SHIFT        
        //                                          ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
            >;

            
        };

        fxn {
            bindings = <
        //╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
        //│  Clear BT   │ BT Profile 0│ BT Profile 1│     F11     │     F12     │   │             │             │             │             │             │
        //│             │             │             │             │             │   │             │             │             │             │             │
          &bt BT_CLR    &bt BT_SEL 0  &bt BT_SEL 1  &kp F11       &kp F12           &none         &none         &none         &none         &none
        //├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        //│      F1     │      F2     │      F3     │      F4     │      F5     │   │             │             │             │             │             │
        //│             │             │             │             │             │   │             │             │             │             │             │
          &kp F1         &kp F2       &kp F3        &kp F4        &kp F5            &none         &none         &kp LALT       &none         &none
        //├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        //│      F6     │      F7     │      F8     │      F9     |      F0     │   │             │             │             │             │             │
        //│             │             │             │             │             │   │             │             │             │             │             │
          &kp F6        &kp F7        &kp F8        &kp F9        &kp F10           &none         &none         &none         &none         &none
        //╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
        //                                          │   layer     │   space     │   │  control    │   shift*    │
        //                                          │             │             │   │             │             │
                                                    &mo SYM_NAV   &kp SPACE         &kp SPACE     &mo LAYER_SHIFT        
        //                                          ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
            >;
        };
        
        macro {
            bindings = <
        //╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
        //│    game     │             │             │             │             │   │   vol up    │   zoom in   │             │   zoom out  │             │
        //│             │             │             │             │             │   │             │             │             │             │             │
          &none         &to GAME      &none         &none         &none             &kp C_VOL_UP  &kp LC(EQUAL) &none         &kp LC(MINUS) &none
        //├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        //│             │             │             │             │             │   │    mute     │  ctrl [     │     ->      │   ctrl ]    │             │
        //│             │             │             │             │             │   │             │             │             │             │             │
          &none          &none        &none         &none         &none             &kp C_MUTE    &kp LC(LBKT)  &arrow        &kp LC(RBKT)  &none
        //├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        //│             │             │             │             |             │   │   vol dn    │     |<|     │   |> / ||   │     |>|     │             │
        //│             │             │             │             │             │   │             │             │             │             │             │
          &none         &none         &none         &none         &none             &kp C_VOL_DN  &kp C_PREV    &kp C_PP      &kp C_NEXT    &none
        //╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
        //                                          │   layer     │   space     │   │  control    │   shift*    │
        //                                          │             │             │   │             │             │
                                                    &mo SYM_NAV   &kp SPACE         &kp LCTRL     &mo LAYER_SHIFT
        //                                          ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
            >;
        };


        game {
            bindings = <
        //╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
        //│    tab      │      q      │      w      │      e      │      r      │   │   vol up    │             │             │             │             │
        //│             │             │             │             │             │   │             │             │             │             │             │
          &kp TAB       &kp Q         &kp W         &kp E         &kp R             &kp C_VOL_UP  &none         &none         &none         &none
        //├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        //│    shift    │      a      │      s      │      d      │      f      │   │    mute     │             │             │             │             │
        //│             │             │             │             │             │   │             │             │             │             │             │
          &kp LSHFT     &kp A         &kp S         &kp D         &kp F             &kp C_MUTE    &none         &none         &none         &none
        //├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        //│             │      z      │      x      │      c      |      v      │   │   vol dn    │     |<|     │   |> / ||   │     |>|     │             │
        //│             │             │             │             │             │   │             │             │             │             │             │
          &kp LCTRL     &kp Z         &kp X         &kp C         &kp V             &kp C_VOL_DN  &kp C_PREV    &kp C_PP      &kp C_NEXT    &none
        //╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
        //                                          │   escape    │   space     │   │             │   to base   │
        //                                          │             │             │   │             │             │
                                                    &kp ESC       &kp SPACE             &none         &to BASE       
        //                                          ╰─────────────┴─────────────╯   ╰─────────────┴─────────────╯
            >;
        };

    };
};
